.zone-adaptive {
    background-color: orange;
    color: white;
    padding: 10px;
}

@media(min-width: 768px) {
    .zone-adaptive{
        width: 750px;
    }
}

@media(min-width: 992px) {
    .zone-adaptive{
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .zone-adaptive{
        width: 1170px;
    }
}