{% extends "base.html.twig" %}


 {% block titreH1 %}
            <h1>
				{{titre}}
			</h1>
{% endblock %}


{% block body %}

{# fonction form, qui prends en param un objet de type formType et permet de l'afficher 

La fonction form va construire le formulaire à partir de l'objet form envoyé par le controller
 #}
{{ form(formLivre)}}



{# {{ form_end(formLivre)}} #}


{% endblock %}