/* 

Mettez du style autant que vous le souhaitez 

background-color sur le body, le header, la section, de votre choix 
color du texte, sur les éléments de la nav, sur les titres
des margins, paddings pour agrandir les zones et/ou créer des espacements
du font-weight, style, size sur les éléments contenants du texte

*/

body {
    background-color: lightgray;
    padding: 20px;
}

header {
    background-color: steelblue;
    color:white;
    padding: 10px;
    margin-bottom: 20px;
}

nav span {
    margin-right: 20px;
    font-weight: bold;
}

section {
    background-color: white;
    min-height: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(59, 174, 228);
}

section span {
    color: red;
}

footer {
    background-color: steelblue;
    color:white;
    padding: 10px;
    text-align: center;
}

legend, summary {
    font-weight: bold;
    font-size: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 2px solid rgb(194, 191, 191);
}

details {
    border: 2px dashed lightseagreen;
    padding: 10px;
}