{% extends 'base.html.twig' %}

{% block title %}Edit Abonne{% endblock %}

{% block body %}
    <h1>Edit Abonne</h1>

    {{ include('abonne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_abonne_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('abonne/_delete_form.html.twig') }}
{% endblock %}
