* {
    transition: all 1s ease;
}

.container {
    width: 1000px;
    margin: 10px auto;
    border: 2px solid black;
    padding: 20px;
}

.blocdiv {
    position: relative;
    top: 0;
    left: 0;
    
    width: 100px;
    height: 100px;
    margin: 50px;
}